@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.navbar {
  transition: right 0.7s ease-in-out;
  box-shadow: 0 5px 8px $black90;
  @include flex-center-column;
  background-color: $white;
  align-items: center;
  min-height: 100dvh;
  flex-wrap: wrap;
  position: fixed;
  padding: 1rem;
  width: 80dvw;
  z-index: 99;
  right: 0;
  top: 0;

  &.hidden {
    transition: right 0.7s ease-in-out;
    right: -100%;
  }
}

.navbar-link {
  font-family: $secondary-font-stack;
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: $black90;
  width: 100%;

  &:hover {
    background-color: $grey10;
  }
}

// ----- responsive ----- \\

@include respond-to('large') {
  .navbar {
    background-color: transparent;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    min-height: 75px;
    position: sticky;
    height: auto;
    gap: 0;
  }

  .navbar-link {
    padding: 0.375rem 1rem;
    @include flex-center;
    width: auto;

    &:hover {
      background-color: transparent;
      opacity: 75%;
    }
  }
}
