@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

header {
  justify-content: space-between;
  width: calc(100dvw - 2rem);
  @include flex-center-y;
  padding: 1rem;
}
