@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.app-header {
  justify-content: space-between;
  @include flex-center-y;
  position: sticky;
  z-index: 100;
  top: 0;

  .app-logo-container {
    padding: 1rem;
  }
}

// ----- responsive ----- \\

@include respond-to('large') {
  .app-logo-container {
    padding: 0 1rem;
  }
}
