@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.legal-content-container {
  padding: 2rem;
  @include flex-column;

  h2 {
    text-align: center;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 1rem 0;
  }

  a {
    color: $primary;
    text-decoration: underline;
  }
}
