@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.sidebar {
  top: calc($app-header-height + 1rem);
  width: $closed-sidebar-width;
  border-radius: 0 1rem 1rem 0;
  transition: width 0.3s ease;
  @include box-shadow-right;
  background-color: $white;
  @include flex-column;
  font-weight: 600;
  overflow: hidden;
  position: fixed;
  height: auto;

  &.opened {
    width: 15rem;

    p {
      white-space: nowrap; // prevents text from wrapping during animation
      color: $grey80;
      width: 100%;
      opacity: 1;
    }
  }

  svg {
    flex-shrink: 0;
  }

  p {
    transition:
      opacity 0.3s ease,
      width 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    width: 0;
  }

  .sidebar-header {
    position: relative;
    overflow: hidden;
    display: block;
    height: 4rem;
    padding: 0;
    gap: 1rem;

    &::after {
      background-color: $grey40;
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
    }

    .sidebar-title {
      font-size: 1.2rem;
    }

    &.opened {
      justify-content: space-around;
      @include flex-center-y;
      gap: 0;

      .sidebar-title {
        padding-left: 1.875rem;
        text-align: center;
        order: -1;
        flex: 1;
      }
    }

    .sidebar-toggle-btn {
      transition: transform 0.3s ease;
      @include flex-center;
      @include box(64px);
      cursor: pointer;

      &:hover {
        background-color: $grey20;
      }

      &.opened {
        transform: rotate(180deg);
        margin-right: 0.5rem;
        border-radius: 50%;
        @include box(48px);
      }
    }
  }

  .sidebar-links-container {
    transition:
      flex-direction 0.3s ease,
      padding 0.3s ease,
      gap 0.3s ease;
    @include flex-column;
    padding: 0;

    &.opened {
      padding: 0.875rem;
      gap: 0.5rem;
    }

    .sidebar-link {
      transition: background-color 0.3s ease;
      @include flex-center-y;
      padding: 0.875rem;
      cursor: pointer;
      gap: 0.5rem;

      &:hover {
        background-color: $grey20;
      }

      &.active {
        background-color: $primaryLight;
        font-weight: 700;
      }

      &.opened {
        padding: 0.5rem 0.875rem;
        border-radius: 0.5rem;
      }
    }
  }
}
