@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.profile-page-main-container {
  padding: 1rem;
  width: 100%;

  h2 {
    margin-bottom: 1rem;
  }

  .personal-info-section {
    padding: 1rem 0;

    .personal-info-content {
      @include flex-center-y;
      padding: 1rem 0;
      gap: 1rem;

      .avatar {
        @include box(100px);
        border-radius: 50%;

        img {
          border-radius: 50%;
          @include img;
        }
      }
      .username {
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }
  .account-info-section {
    padding: 1rem 0;

    .account-info-content {
      padding-top: 1rem;
    }
  }

  .logout-button {
    padding-top: 1rem;

    button span {
      font-size: 1rem;
    }
  }
}

// ----- responsive ----- \\
@include respond-to('medium') {
  .profile-page-main-container {
    @include flex-center-column;
    align-self: center;
  }
}
