@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.page-loader {
  background-color: $blackTransp50;
  @include box(100%, 100%);
  @include flex-center;
  min-height: 100dvh;
  position: fixed;
  z-index: 1000;
  inset: 0;
}
