@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.post-card {
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  @include flex-start-y-stretch;
  @include box-shadow-bottom;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;

  &:hover {
    transform: translateY(-5px);
    background-color: $grey10;
  }
}

.post-card-image-container {
  @include box(100%, 200px);

  img {
    @include box(100%);
    object-fit: cover;
  }
}

.post-card-content {
  @include flex-start-y-stretch;
  padding: 1.5rem;
  gap: 0.725rem;
  flex: 1;

  .post-card-title {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
    @include flex-start-y-stretch;
    color: $grey80;
    flex: 1;
  }

  .post-card-footer {
    @include flex-center-between;
    margin-top: 0.5rem;

    .post-card-date {
      font-size: clamp(0.6rem, 0.8vw + 0.5rem, 0.825rem);
      font-style: italic;
      color: $grey70;
    }

    .post-card-tag {
      font-size: clamp(0.6rem, 0.8vw + 0.5rem, 0.825rem);
      background-color: $lightBlue;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-weight: 600;
      color: $black;
    }
  }
}

// ----- responsive ----- \\

@include respond-to('medium') {
  .post-card {
    width: calc(50% - 0.5rem);
  }
}

@include respond-to('xlarge') {
  .post-card {
    width: calc(33% - 0.5rem);
  }
}
