@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.post-card {
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  @include flex-start-y-stretch;
  @include box-shadow-bottom;
  background-color: $grey10;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;

  &:hover {
    transform: translateY(-5px);
    background-color: $white;
  }
}

.post-card-image-container {
  @include box(100%, 200px);

  img {
    @include box(100%);
    object-fit: cover;
  }
}

.post-card-content {
  @include flex-start-y-stretch;
  padding: 1.5rem;
  gap: 0.725rem;
  flex: 1;

  .post-card-excerpt {
    @include flex-start-y-stretch;
    color: $grey80;
    flex: 1;
  }

  .post-card-footer {
    justify-content: space-between;
    margin-top: 0.5rem;
    display: flex;

    .post-card-date {
      font-style: italic;
      font-size: 0.9rem;
      color: $grey70;
    }

    .post-card-read-more {
      text-decoration: none;
      font-weight: bold;
      color: $primary;
    }
  }
}

// ----- responsive ----- \\

@include respond-to('medium') {
  .post-card {
    width: calc(50% - 0.5rem);
  }
}

@include respond-to('large') {
  .post-card {
    width: calc(33% - 0.5rem);
  }
}
