@import '../../../assets//styles/variables';
@import '../../../assets//styles/mixins';

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  @include box(100dvw, 100vh);
  @include flex-center;
  position: fixed;
  z-index: 1000;
  padding: 5%;
  left: 0;
  top: 0;
}

.modal-wrapper {
  background-color: $white;
  border-radius: 0.25rem;
  @include flex-column;
  overflow-x: hidden;
  @include box(100%, 85%);
  overflow-y: auto;
}

.modal-header {
  position: relative;
  padding: 1rem;

  > h3 {
    width: 100%;
  }

  > .modal-close-icon {
    display: none;
  }
}

.modal-content {
  @include flex-center-column;
  flex: 1;
}

.modal-footer {
  @include flex-column;
  padding: 1rem;
  gap: 1rem;

  > button {
    height: 2.5rem;
  }
}

// ----- responsive ----- \\

@include respond-to('small') {
  .modal-footer {
    justify-content: space-between;
    flex-direction: row;

    > button {
      max-width: 12rem;
    }
  }
}

@include respond-to('medium') {
  .modal-close-icon {
    @include flex-center;
    @include box(2rem);
    position: absolute;
    cursor: pointer;
    display: block;
    right: 1rem;
    top: 1rem;

    &:hover {
      opacity: 0.5;
    }
  }

  .modal-footer {
    justify-content: flex-end;
  }
}

@include respond-to('large') {
  .modal-overlay {
    padding: 10%;
  }

  .modal-wrapper {
    height: 100%;
  }
}
