@import '../../../../assets//styles/variables';
@import '../../../../assets//styles/mixins';

dialog[open] {
  animation: zoomIn 0.15s forwards;
  box-shadow: 0 5px 10px $black;
  @include flex-center-column;
  background-color: $white;
  border-radius: 0.25rem;
  @include box(50%, 25%);
  justify-self: center;
  align-self: center;
  overflow-x: hidden;
  min-height: 15rem;
  min-width: 20rem;
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  border: none;

  &::backdrop {
    background-color: $blackTransp50;
  }
}

.modal-close-btn {
  @include flex-center;
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  top: 1rem;

  &:hover {
    opacity: 0.5;
  }
}

.modal-header {
  padding: 1rem 1rem 0;
  color: $black;

  > h3 {
    width: calc(100% - 1rem);
    font-size: 1rem;
  }
}

.modal-content {
  @include flex-center-column;
  padding: 2rem;
  flex: 1;
}

.modal-footer {
  @include flex-column;
  padding: 0 1rem 1rem;
  width: 100%;
  gap: 1rem;

  > button {
    height: 2.5rem;
  }
}

// zoom in animation keyframes when modal opens
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// ----- responsive ----- \\

@include respond-to('small') {
  .modal-footer {
    justify-content: space-between;
    flex-direction: row;

    > button {
      max-width: 12rem;
    }
  }
}

@include respond-to('medium') {
  .modal-close-btn {
    top: 1.15rem;
  }

  .modal-header > h3 {
    font-size: 1.15rem;
    width: 100%;
  }

  .modal-footer {
    justify-content: flex-end;
  }
}
