@import '../../../../assets//styles/variables';
@import '../../../../assets//styles/mixins';

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  animation: bounceIn 0.5s forwards;
  @include box(100dvw, 100vh);
  @include flex-center;
  position: fixed;
  z-index: 1000;
  padding: 5%;
  left: 0;
  top: 0;
}

.modal-wrapper {
  animation: bounceIn 0.5s forwards;
  background-color: $white;
  @include box(100%, 85%);
  border-radius: 0.25rem;
  @include flex-column;
  overflow-x: hidden;
  position: relative;
  min-height: 10rem;
  overflow-y: auto;
  min-width: 16rem;
}

.modal-close-btn {
  @include flex-center;
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  top: 1rem;

  &:hover {
    opacity: 0.5;
  }
}

.modal-header {
  color: $black90;
  padding: 1rem 1rem 0;

  > h3 {
    width: calc(100% - 1rem);
    font-size: 1rem;
  }
}

.modal-content {
  @include flex-center-column;
  padding: 2rem;
  flex: 1;
}

.modal-footer {
  @include flex-column;
  padding: 0 1rem 1rem;
  gap: 1rem;

  > button {
    height: 2.5rem;
  }
}

// bouncing in animation
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// ----- responsive ----- \\

@include respond-to('small') {
  .modal-footer {
    justify-content: space-between;
    flex-direction: row;

    > button {
      max-width: 12rem;
    }
  }
}

@include respond-to('medium') {
  .modal-close-btn {
    top: 1.15rem;
  }

  .modal-header > h3 {
    font-size: 1.15rem;
    width: 100%;
  }

  .modal-footer {
    justify-content: flex-end;
  }
}

@include respond-to('large') {
  .modal-overlay {
    padding: 5% 10%;
  }
}
