@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

.bo-users-section {
  padding: 1rem 1rem 1rem calc($closed-sidebar-width + 1rem);
  max-width: 100%;

  h2 {
    font-size: clamp(1.125rem, 4vw, 1.5rem);
  }
}
