@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.post-title-cell {
  a {
    white-space: nowrap;
    font-weight: 600;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

// ----- responsive ----- \\
@include respond-to('large') {
  .post-title-cell {
    a {
      white-space: normal;
    }
  }
}
