@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.already-registered-container {
  @include flex-center-column;
  padding: 1.125rem 2rem 2rem;
  max-width: 40rem;
  gap: 1.125rem;
  width: 100%;

  > h2 {
    font-size: 1.125rem;
    color: $black90;
  }

  .link-to-login {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1rem;
    color: $primary;
  }
}
