@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.already-registered-container {
  @include flex-center-column;
  max-width: 40rem;
  padding: 2rem;
  gap: 1.125rem;
  width: 100%;

  > p {
    color: $primary;
  }

  .link-to-login {
    font-weight: 700;
    font-size: 1rem;
    color: $primary;
  }
}
