@import '../../../../assets//styles/variables';
@import '../../../../assets//styles/mixins';

.register-page-main-container {
  background-color: $lightBlue;
  @include flex-center-column;
  margin: 2rem auto;

  .separator-container {
    width: 100%;
  }
}

// ----- responsive ----- \\

@include respond-to('medium') {
  .register-page-main-container {
    border-radius: 0.75rem;
    max-width: 40rem;
  }
}
