@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.register-block-container {
  @include flex-center-column;
  padding: 1.125rem 2rem 2rem;
  width: 100%;
  gap: 1.125rem;

  > h2 {
    font-size: 1.25rem;
    color: $black90;
  }

  > form {
    width: 100%;
  }
}

// ----- responsive ----- \\
@include respond-to('medium') {
  .register-block-container {
    width: 75%;
  }
}
