@import './placeholders';
@import './mixins';

form {
  @include flex-center-column;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  row-gap: 1rem;
}

.form-input {
  @include flex-column;
  max-width: 36rem;
  gap: 0.125rem;
  width: 100%;
}

.checkbox-input {
  @include flex-center-y;
  max-width: 36rem;
  width: 100%;
  gap: 1.5rem;
}

.input-error-message {
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 36rem;
  width: 100%;
  color: $red;
}

.input,
.textarea,
.select {
  @extend %input-base;

  &::placeholder {
    color: $grey50;
  }

  &-error {
    border-color: $red;

    &:focus {
      border-color: $red;
    }
  }
}

.textarea {
  @extend %input-base;
  resize: none;
}

.checkbox {
  @extend %checkbox;
}

.select,
.date-picker,
.file-input {
  cursor: pointer;
}

.file-previews {
  flex-wrap: wrap;
  display: flex;
  width: 100%;

  .preview-img-container {
    object-fit: cover;
    width: 33%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
