@import './placeholders';
@import './mixins';

.form-input {
  @include flex-column;
  gap: 0.125rem;
}

.input-error-message {
  font-size: 0.875rem;
  font-weight: 600;
  color: $red;
}

.input,
.textarea,
.select {
  @extend %input-base;

  &::placeholder {
    color: $grey50;
  }

  &-error {
    border-color: $red;

    &:focus {
      border-color: $red;
    }
  }
}

.textarea {
  max-height: fit-content;
  @extend %input-base;
}

.checkbox {
  @extend %checkbox;
}

// ----- responsive ----- \\

@include respond-to('medium') {
  label {
    font-size: 1.125rem;
  }
  .input,
  .textarea,
  .select {
    font-size: 1rem;
  }
}
