@import './mixins';
@import './variables';
@import './buttons';
@import './placeholders';
@import './form-inputs';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: $primary-font-stack;
  font-size: $default-font-size;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: $secondary-font-stack;
  font-weight: 600;
}

h1 {
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  color: $primary;
}
