@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.contact-page-main-container {
  @include flex-column;
  padding: 2rem 1.5rem;
  width: 100%;
  gap: 2rem;
}

// ----- responsive ----- \\

@include respond-to('small') {
  .contact-page-main-container {
    align-items: center;
  }
}
